.info {
  padding-bottom: 25px;
}

.field {
  text-align: left;
  padding-left: 26px;
  width: 225px;
}

.col span {
  font-size: 12px;
  line-height: 2;
}

.sign {
  border: 0;
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
}

.remove {
  font-size: 13px;
  font-family: "Open Sans";
  border: 0;
  background-color: transparent;
  text-align: left;
  margin-top: 30px;
}

.empty {
  font-size: 13px;
  font-family: "Roboto";
}

.total {
  font-size: 18px;
  font-family: "Open Sans";
}

.but {
  padding-top: 30px;
  padding-bottom: 60px;
}

.delivery {
  line-height: 5.417;
  background: #f7f7f7;
}
