.info {
  padding-left: 50px;
}

.take {
  padding-bottom: 20px;
}

.room {
  padding-bottom: 150px;
}

.thumb img {
  max-width: 197px;
  width: 100%;
}

.thumb:hover::after {
  opacity: 1;
}

.container {
  position: relative;
  max-width: 590px;
  width: 100%;
}

.thumb:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.502);
  opacity: 0;
  transition: all 0.5s;
}

.classic {
  font-size: 26px;
  font-family: "Roboto";
  line-height: 1.308;
}

.price {
  font-size: 25px;
  font-family: "Roboto";
  line-height: 2.6;
}

.fine {
  font-family: "Times New Roman";
  line-height: 1.875;
}

.size {
  font-family: "Roboto";
  line-height: 2.833;
}

input.switch-border {
  display: none;
}

input.switch-border + label > span {
  padding: 14px 18px;
  border: 1px solid transparent;
  cursor: pointer;
}

input.switch-border:checked + label > span {
  border-color: #e5e5e5;
}

form span {
  display: inline-block;
  margin-right: 30px;
  width: 44px;
}
