.banners { margin-bottom: 50px; }

.high { height: 100%; }

.mark { height: 165px; }

.block {
  height: 385px;
  position: relative;
}

.pos {
  position: absolute;
  top: 60px;
  right: 100px;
}

.title {
  font-size: 28px;
  line-height: 1.214;
}

.sale {
  font-family: "Times New Roman";
  line-height: 1.625;
}

.arrivals {
  font-size: 50px;
  line-height: 1.3;
}