.cards {
  margin-top: 32px;
  flex-wrap: wrap;
}

.title {
  margin: 0;
  font-size: 28px;
}

.block {
  position: relative;
}

.white {
  color: #fff;
}

.abs {
  width: 210px;
  position: absolute;
  bottom: 55px;
  left: 20%;
}

.sale {
  font-family: "Times New Roman";
  line-height: 1.625;
}

.high {
  height: 100%;
  width: 100%;
}
