@font-face {
  font-family: "Open Sans";
  src: url('../../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "Roboto";
  src: url('../../fonts/Roboto-Regular.ttf');
}

@media screen and (max-width: 768px) {
  .mg { padding: 0 39px; }

  .right { background: 0; }

  .right .high { width: 297px; }

  .tag:nth-child(4) { display: none; }

  .tag img { width: 205px; }

  .tag:not(:nth-child(3)) { margin-right: 20px; }

  .service { display: none; }

  .grow.border-right {border-right: 0; }

  .sm { flex-direction: column; }

  .sm .grow { padding-left: 23px; }

  .sm .grow:nth-child(2) .label { padding-top: 0; }

  .down.width { width: auto; }

  .pos { right: 50px; }

  .form_input {
    width: 0;
    border-bottom: 0;
  }

  .right .pos {
    top: auto;
    bottom: 40px;
    right: 120px;
  }
}

@media screen and (max-width: 375px) {
  .mg { padding: 0 20px; }

  .logo-tm:before { content: "TL"; }

  .side ul { flex-direction: column; }

  .icon { display: block; }

  .right { display: none; }

  .tag:nth-child(3) { display: none; }
  
  .high { width: 100%; }

  .down { flex-direction: column; }

  .down.mg { padding: 0; }

  .sm .grow { padding-left: 0; }

  .two { padding: 0 20px; }

  .social img { margin-right: 10px; }

  .label { padding-top: 0; }

  .pos { top: 30px; }

  .sm {
    flex-direction: row;
    padding: 0 20px 40px;
    border-bottom: 1px solid #e5e5e5;
  }

  .side {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
  }

  .side ul li {
    font-size: 24px;
    line-height: 2.5;
    padding-left: 20px;
    background-color: #ffffff;
  }

  .grow.border-right {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 20px;
  }

  .foot {
    height: 65px;
    align-items: center;
  }

  .form_input {
    width: 100px;
    border-bottom: 2px solid #e5e5e5;
  }
}
