@media (max-width: 1024px) {
  .tag:nth-child(4) { display: flex; }

  .tag:not(:nth-child(3)) { margin-right: 0; }

  .tag::before { top: 80px; }

  .tag::after { width: 42%; }

  .field { width: 135px; }

  .top { padding-top: 30px; }

  .remove { margin-top: 0; }

  .info { padding-bottom: 10px; }

  .btn { margin: 30px 0 60px; }

  .tag img {
    height: 100%;
    width: 145px;
  }
}

@media (max-width: 767px) {
  .tag:nth-child(3) { display: flex; }

  .tag::after, .tag::before { width: 58%; }

  .top.flex { flex-direction: column; }

  .text:first-child { display: none; }

  .bot { margin-bottom: 0px; }

  .info { padding-bottom: 15px; }

  .tag { margin-bottom: 40px; }

  .btn {
    width: 140px;
    margin: 20px 0;
  }

  .delivery {
    line-height: 1.6;
    padding-top: 14px;
    padding-bottom: 15px;
  }
}