@media screen and (max-width: 768px) {
  .all section { text-align: center; }

  .top { padding-top: 40px; }

  .tag::after { height: 68%; }

  .none { display: none; }

  .mid { height: 300px; }

  .pos { top: 30px; }

  .abs { left: 20px; }

  h4.bold {
    height: 46px;
    width: 205px;
  }

  .custom-select {
    width: 100px;
    bottom: 20px;
  }
  
  .select-selected::after { display: none; }

  .select-text:valid ~ .select-label { display: none; }

  .select-selected { padding-top: 0; }
}

@media screen and (max-width: 375px) {
  .tag img, h4.bold { width: 158px; }

  .rep { display: none; }

  .mid { height: 240px; }

  .title { font-size: 20px; }

  .pos { right: 30px; }

  .select-label { font-size: 13px; }

  .select-selected { padding: 5px; }

  .select { display: none; }

  .custom-select { width: 100%; }

  .tag::after { height: 62%; }

  .all {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}