@media (max-width: 1024px) {
  .control { display: none; }

  .tag::after { height: 72%; }

  .tag:nth-child(4) { display: none; }

  .tag:not(:nth-child(3)) { margin-right: 20px; }

  .wrapper {
    position: relative;
    width: 100%;
  }

  .wrapper img {
    position: absolute;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translateX(-50%);
  }

  .block.width {
    max-width: 470px;
    width: auto;
  }

  .block .high {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tag:nth-child(3) { display: none; }

  .tag img { width: 100%; }

  .wrapper { height: 474px; }
}