@media (max-width: 1024px) {
  .top {
    padding-top: 40px;
  }

  .none {
    display: none;
  }

  .mid {
    height: 300px;
  }

  .pos {
    top: 30px;
  }

  .abs {
    left: 20px;
  }

  .all {
    padding-bottom: 60px;
  }

  .select-items {
    top: 170%;
  }

  h4.bold {
    height: 46px;
  }

  .custom-select {
    width: 100px;
    bottom: 20px;
  }

  .select-selected::after {
    display: none;
  }

  .select-text:valid ~ .select-label {
    display: none;
  }

  .select-selected {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .rep {
    display: none;
  }

  .mid {
    height: 240px;
  }

  .title {
    font-size: 20px;
  }

  .pos {
    right: 30px;
  }

  .select-label {
    font-size: 13px;
  }

  .select-selected {
    padding: 5px;
  }

  .select {
    display: none;
  }

  .custom-select {
    width: 100%;
  }
}
