@media (max-width: 1024px) {
  .control {
    display: none;
  }

  .wrapper {
    position: relative;
    width: 100%;
  }

  .wrapper img {
    position: absolute;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translateX(-50%);
  }

  .block.width {
    max-width: 470px;
    width: auto;
  }

  .block .high {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    height: 474px;
  }
}
