@media (max-width: 1024px) {
  .field {
    width: 135px;
  }

  .top {
    padding-top: 30px;
  }

  .remove {
    margin-top: 0;
  }

  .info {
    padding-bottom: 10px;
  }

  .btn {
    margin: 30px 0 60px;
  }
}

@media (max-width: 767px) {
  .top.flex {
    flex-direction: column;
  }

  .text:first-child {
    display: none;
  }

  .info {
    padding-bottom: 15px;
  }

  .btn {
    width: 140px;
    margin: 20px 0;
  }

  .delivery {
    line-height: 1.6;
    padding-top: 14px;
    padding-bottom: 15px;
  }
}
